@media only screen and (min-width:992px) {
    .container-fluid p {
        display: none;
    }
}


@media only screen and (max-width:992px) {

    .left,
    .right,
    .right-start {
        display: none;
    }

    .form input {
        display: none;
    }
}

@media only screen and (max-width:992px) {
    .none {
        display: none;
    }
}



@media only screen and (min-width:992px) {
    .text-image h2{
        font-size: 300%;
        font-weight: bold;
    }
    .text-image span{
        padding-top: 4%;
        
    }
    .text-image button{
        position: absolute;
        top: 280px;
        left: 20px;
    }
}


@media only screen and (max-width:572px) {
    .center img {
        margin-right: 40px;
    }
}



@media only screen and (max-width:485px) {
    .text-image>button {
        margin-top: 50px;
    }
}


@media only screen and (max-width:766px) {
    .mar-2 {
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
        font-size: 25px;

    }
}

@media only screen and (max-width:766px) {
    .arr-clr {
        padding-left: 10px;

    }
}

@media only screen and (max-width:390px) {
    .mar-1 {
        font-size: 40px;
    }
}

@media only screen and (max-width:1199px) {
    .marg-top img {
        padding-top: 15px;
    }
}


@media only screen and (max-width:1199px) {
    .gap-img img {
        padding-top: 15px;
    }
}



@media only screen and (min-width:1200px) {
    .gapi {
        margin-top: 15px !important;

    }
}



@media only screen and (max-width:400px) {
    .text-lay h1 {
        font-size: 120%;
    }

    .text-lay p {
        font-size: 40%;
        line-height: 220%;
    }

    .text-lay span {
        padding-top: 5%;
        font-size: 70%;
    }
}



@media only screen and (min-width:401px) and (max-width:600px) {
    .text-lay h1 {
        font-size: 180%;
    }

    .text-lay p {
        font-size: 50%;
        padding-top: 3%;
        line-height: 180%;
    }

    .text-lay span {
        padding-top: 5%;
        font-size: 110%;
    }
}



@media only screen and (min-width:601px) and (max-width:768px) {
    .text-lay h1 {
        font-size: 250%;
    }

    .text-lay p {
        padding-top: 1%;
        font-size: 90%;
        line-height: 180%;
    }

    .text-lay span {
        padding-top: 6%;
        font-size: 130%;
    }
}


@media only screen and (min-width:769px) and (max-width:1100px) {
    .text-lay p {
        padding-top: 2%;

    }

    .text-lay span {
        padding-top: 4%;

    }
}



@media only screen and (min-width:992px) {
    .mediaa img {
        height: 700px;

    }
}














/*
@media only screen and (min-width:572px) and (max-width:760px) {
    .mar-four,.mar-five {
        margin-top: 40px !important;
     

    }

    
    
}





@media only screen and (min-width:300px) and (max-width:571px) {
   .mar-three,.mar-four {
        margin-top: 40px !important;
     

    }

    
    
}
*/

